
server:
  extraArgs:
  - "--insecure"
  config:
    users.anonymous.enabled: "true"
    application.instanceLabelKey: argocd.argoproj.io/instance
    repositories: |
      - type: git
        url: https://github.com/stepan111/4key-dashboard.git
  rbacConfigCreate: false
    # rbacConfig: 
    #   policy.default: "role:admin"
 #
dex:
  enabled: false

controller:
  metrics:
    enabled: true
    labels:
      - "release: prometheus"
    serviceMonitor:
      enabled: true
      selector:
        release: prometheus
  resources:
    limits:
      cpu: 500m
      memory: 1024Mi
    requests:
      cpu: 50m
      memory: 256Mi
